{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * DirectoryContact plugin for Craft CMS 3.x
 *
 * Contactperson Field Input
 *
 * @author    Niklas Sonnenschein
 * @copyright Copyright (c) 2019 Niklas Sonnenschein
 * @link      https://niklassonnenschein.de
 * @package   DirectoryContact
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}
{% set currSite = craft.app.sites.getSiteByHandle( craft.app.request.get("site") ?? craft.app.request.getSegment(4) ?? "default" ) %}

<div class="contactperson-wrapper">
	{{ forms.elementSelectField({
				id: id,
				name: name ~ "[person]",
				elementType: "craft\\elements\\Entry",
				sources: ["section:"~source.uid],
				elements: element,
				showSiteMenu: false,
				storageKey: 'field.'~field.id,
				limit: 1,
				criteria: {
					siteId: currSite.id
				}
			}) }}

	<div class="contact-detail"> {{ contact|raw }}</div>
	<div class="spinner hidden"></div>
</div>
